[Desktop Entry]
Name=Firefox
Comment=Web Browser
Exec=/usr/bin/firefox %u
Terminal=false
Type=Application
Icon=/usr/share/icons/default/firefox.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Actions=Private;

[Desktop Action Private]
Exec=/usr/bin/firefox --private-window %u
Name=Open in private mode

